html {
    height: fit-content;
    width: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 0;
    font-family: 'Eczar', serif;


}

body {
    position: relative;
    height: fit-content;
    width: cover;
    /* background: url(../images/BACKDROUND_NEW.svg); */
    background: url(../images/background2a.png);
    background-repeat: repeat;
    margin: 0px 40px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/* .logo-container {
    background-image: url(../images/backgroundlog.svg);
    height: 100%;
    width: 100%;
    margin: 0px 0px 10px 0;
    border-radius: 10px;
    background-size: 100%;
} */

.topnav {
    background-image: url(../images/backgroundlog1c.png);
    position: relative;
    height: 200px;
    width: 100%;
    margin: 0px 0px 10px 0;
    border-radius: 10px;
    background-size: 100%;
}

.logo {
    position: absolute;
    top: 5px;
    height: 150px;
    width: auto;
}

/* .topnav img {
    width: 100%;
    height: 100%;
} */

.logo a {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 10%;
    height: 10%;
}

.topnav form {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* .topnav .search-container {
    float: right;

} */

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 60%;
}

.socialmedia ul {

    display: flex;
    list-style: none;
}

.socialmedia img {
    width: 50%;
    height: auto;
}


header {
    position: relative;
    width: 100%;
}

nav {
    width: 100%;

}


nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

nav ul li {
    padding: 10px 10px 10px 0px;
    width: 100px;
    background-size: 100%;
    margin: -5px 15px -15px 15px;
    background-color: rgb(47, 51, 49);
    border-radius: 10px;
}

nav ul li:hover {
    background: #e91e63;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    /* font-family: Copperplate, Copperplate Gothic Light, fantasy; */
}

}

.toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #322668;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

.fa-bars:before {
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #000000;
    font-size: 30px;
    display: none;
    cursor: pointer;
}

nav ul li:hover {
    background: rgb(153, 149, 149);
    border-radius: 10px;

}

.sub-menu-1 {
    display: none;
}

nav ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 10%;
    margin: 2px;

}

.sub-menu-1 {
    display: none;
    color: #fff;
}

nav ul li:hover .sub-menu-1 nav ul li {
    width: 50px;
    padding: 10px;
    border-bottom: 1px dotted rgb(115, 147, 199);
    background: transparent;
    border-radius: 0;
    text-align: left;
    background: #e1e0e6;
}

nav ul li:hover .sub-menu-1 nav ul li:hover {
    background: #d6ac21;
    ;
}

.main-container {
    background-color: rgb(153, 149, 149);
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.container {
    position: relative;
    display: inline-flex;
    margin: 10px;
    height: 100%;
    width: 100%;

}

.container-1 {
    background-color: #e6e4e0;
    width: 80%;
    height: fit-content;
    margin: 5px;
    border-radius: 10px;
}

.container-2 {
    * width: 98%;
    height: fit-content;
    border-radius: 10px;
}

.container-2-3 {
    width: 98%;
    height: fit-content;
    margin: 10px;
    border-radius: 10px;
}

.container-3 {
    /* background-color: #e7e5ee; */
    height: fit-content;
    margin: 2%;
    display: inline-flex;
}

.container-3a {
    background-color: #fff;
    width: 65%;
    height: 100%;
    margin: 1%;
    border-radius: 10px;
}

.container-3a1 {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin: 2% 0px 0px 0px;
    display: inline-flex;
}

.container-3a1 img {
    padding: 2%;
    width: 50%;
    height: auto;
}

.container-3b {
    width: 35%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.container-3b1 {
    /* background-image: url(./images/event-container.svg);
    background-repeat: no-repeat;
    background-size: 100%; */
    width: 100%;
    height: 5cm;
    border-radius: 10px;
    position: relative;
}

.container-3b1 img {
    width: 100%;
    height: 100%;
}

.container-3b1 p {
    font-style: oblique;
    position: absolute;
    top: 40%;
    left: 2%;
    font-size: larger;
}

.container-3b1 div {
    position: absolute;
    width: 1%;
    top: 70%;
    left: 40%;
    border-radius: 10px;
}

.container-3b2 {
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    margin: 1% 1% 0px 0px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.container-3b2a {
    /* width: 80%; */
    height: fit-content;
    border-radius: 10px;
    margin: 1% 1% 50px 10px;
    ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container-3b2a img {
    width: 20%;
    height: auto
}


.container-4 {
    background-color: #21acd6;
    width: 20%;
    height: fit-content;
    margin: 0 1% 1px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.container-4a {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    margin: 1% 1% 0px 0px;
    display: inline-flex;
    border-style: solid
}

/* slide-show */
.slideshow-container {
    position: relative;
    margin: 10px 10px 10px 10px;
    /* top: 300px; */
    /* left: 20cm; */
    border-radius: 5%;
}


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    left: -20%;

}

.active {
    /* background-color: #717171; */
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideshowText-1 {
    background-image: url(../images/slideshowa.png);
    background-color: #0c0c0c;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 1% 1% 0px 0px;
    display: inline-flex;
    border-style: solid;
    border-color: #e1e0e6;

}

.slideshowText-1 img {
    padding: 2%;
    width: 80%;
}

.slideshowText-1 div {
    width: 100%;
    /* border-style: solid; */
    border-radius: 10px;
    margin: 10px;
    border-color: #e1e0e6;
    color: #e7e5ee;
}


/* Footer */
footer {
    background-color: rgb(153, 149, 149);
    width: 100%;
    margin: 30px 0px 30px 0;
    border-radius: 10px;
    /* position: relative; */
    /* left: 100px; */
    /* top: 18cm; */

}


footer h1 {
    font-size: 20px;
    font-style: bold;
    margin: 10px;
    color: rgb(12, 12, 12);
}

footer p {
    font-size: 12px;
    font-style: bold;
    margin: 10px;
    color: rgb(12, 12, 12);
}


/* other pages */




/* nafrica */
.tabafrica {
    position: relative;
    /* margin: 0; */
    top: 300px;
    left: 5px;
    /* border-radius: 5%; */
    width: 50%;
}

.tabafrica h2 {
    position: relative;
    /* left: 5cm; */
}

.tabafrica p {
    position: relative;
    right: 120px;
    text-align: justify
}

.tabafrica table {
    position: relative;
    left: 30px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 5px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}


/* nafrica */








@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}

/* new slideshow */

@media (max-width:768px) {

    html {
        height: 100%;
        width: 100%;
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-sizing: border-box;
        position: relative;
        /* background: url(../images/BACKDROUND1.svg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 0;
        overflow-y: scroll;
        /* font-family: 'Open Sans', sans-serif; */
        font-family: 'Eczar', serif;
    }

    body {
        position: relative;
        height: fit-content;
        width: cover;
        /* background: url(../images/BACKDROUND_NEW.svg); */
        background: url(../images/background2a.png);
        background-repeat: repeat;
        margin: 0px 10px 0px 10px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }


    .logo-container {
        /* background-image: url(../images/backgroundlog.svg); */
        /* background-repeat: no-repeat; */
        height: 100%;
        width: 100%;
        margin: 0px 0px 10px 0;
        border-radius: 10px;
        background-size: 100%;
    }

    .backgroundlog img {
        width: 100%;
    }




    .topnav {
        background-image: url(../images/backgroundlog1c.png);
        /* background-repeat: no-repeat; */
        height: 100px;
        width: 100%;
        border-radius: 10px;
        background-size: 100%;
    }

    /* .topnav img {
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
    } */

    .logo a {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 10%;
        height: 1%;
    }

    .topnav .search-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 10px;
        font-size: 70%;
        border: none;
    }

    .topnav button {
        float: right;
        padding: 6px 10px;
        margin-top: 10px;
        margin-right: 16px;
        background: #ddd;
        font-size: 70%;
        border: none;
        cursor: pointer;
    }

    /* .topnav .search-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 10px;
        margin-right: 16px;
        background: #ddd;
        font-size: 10px;
        border: none;
        cursor: pointer;
    } */
    .socialmedia {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 1%;
    }

    .socialmedia ul {

        display: flex;
        list-style: none;
    }

    .socialmedia ul li {
        padding: 10px;
    }

    .socialmedia img {
        width: 40%;
        height: auto;
    }


    header {
        position: relative;
        background-size: 100%;
        width: 100%;
    }

    nav {
        background-size: 100%;
        width: 100%;
    }

    .search-container input {
        height: 50%;
        width: auto;
    }

    .toggle {
        display: block;
    }

    .fa-bars:before {
        display: block;
    }

    .logo {
        position: relative;
        top: 2px;
        height: 50PX;
        width: auto;
    }

    nav ul {
        width: 90%;
        display: none;
        position: relative;
        top: -30px;
        /* left: -40px; */
    }

    nav ul li {
        color: #d6ac21;
    }

    nav ul li {
        padding: 5px;
        width: 65px;
        margin: 10px;
        color: #07031a;
        font-size: 12px;
    }

    /* nav ul li:hover {
        background: #e91e63;
    } */

    nav ul li a {
        text-decoration: none;
        padding: 0px;
    }

    nav ul li:hover {
        /* background: #d6ac21; */
        border-radius: 3px;
    }

    .sub-menu-1 {
        display: none;
    }

    nav ul li:hover .sub-menu-1 {
        display: block;
        position: absolute;
        margin-top: 1px;
        border-radius: 10%;
        background: #e1e0e6;
        width: 75px;

    }

    nav ul li:hover .sub-menu-1 nav ul li {

        width: 50px;
        border-bottom: 1px dotted rgb(115, 147, 199);
        background: transparent;
        border-radius: 5%;
    }

    nav ul li:hover .sub-menu-1 nav ul li:hover {
        background: #d6ac21;
        width: 30px;
        border-radius: 10%;
    }

    .active {
        display: block;
        background-color: none;
    }



    /* slider */

    .main-container {
        background-color: rgb(153, 149, 149);
        height: 100%;
        width: fit-content;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
    }

    .container {
        position: relative;
        margin: -10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
    }

    .container-1 {
        background-color: #e6e4e0;
        width: 100%;
        height: fit-content;
        border-radius: 10px;
    }

    .container-2 {
        width: 100%;
        height: fit-content;
        border-radius: 10px;
    }

    .container-2-3 {
        width: 90%;
        height: fit-content;
        margin: 10px;
        border-radius: 10px;
        font-size: 100%;
        padding: 0 10px 0 10px;
    }

    .container-3 {
        /* background-color: #e7e5ee; */
        height: fit-content;
        margin: 2%;
        /* display: inline-flex; */
        display: flex;
        /* flex: wrap; */
        flex-direction: column;
        align-items: center;
        justify-content: space-around
    }

    .container-3a {
        background-color: #a19f9a;
        width: 100%;
        height: 100%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around
    }

    .container-3a1 {
        background-color: #fff;
        width: 100%;
        height: fit-content;
        border-radius: 10px;
        margin: 1% 1% 0px 0px;
        /* border-style: solid; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .container-3a1 img {
        padding: 2%;
        width: 80%;
    }

    .container-3a1 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px 0 20px;
    }

    .container-3b {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        justify-content: space-around;
    }

    .container-3b1 {
        width: 100%;
        height: 5cm;
        border-radius: 10px;
        position: relative;
    }

    .container-3b1 img {
        width: 100%;
        height: 100%;
    }

    .container-3b1 p {
        font-style: oblique;
        position: absolute;
        /* left: 2%; */
        font-size: larger;
    }

    /* .container-b1 input[type=text] {
        padding: 6px;
        margin-top: 10px;
        font-size: 10px;
        border: none;
    } */

    .container-3b1 div {
        position: absolute;
        width: 1%;
        top: 70%;
        left: 40%;
        border-radius: 10px;
    }

    .container-3b2 {
        display: none;
    }


    .container-4 {
        background-color: #21acd6;
        width: 20%;
        height: fit-content;
        margin: 0 1% 1px 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around
    }

    /* slideshow */

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 10px;
        padding: 8px 12px;
        /* position: absolute; */
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 10px;
        padding: 8px 12px;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        position: relative;
        left: -20%;

    }

    /* .active {
        background-color: #ddd;
    } */

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    .slideshowText-1 {
        background-color: #0c0c0c;
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 1% 1% 0px 0px;
        /* display: inline-flex; */
        border-style: solid;
        border-color: #e1e0e6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around
    }

    .slideshowText-1 img {
        width: 50%;
    }

    .slideshowText-1 div {
        width: 90%;
        height: 120px;
        /* border-style: solid; */
        border-radius: 10px;
        margin: 10px 30px 10px 30px;
        border-color: #e1e0e6;
        color: #e7e5ee;
        font-size: 60%;
        padding: 5px;
    }



    /* slider */

    footer {
        background: #e6e4e0;
        /* position: absolute; */
        /* top: 40rem; */
        /* left: -5px; */
    }

    footer h1 {
        font-size: 20px;
        font-style: bold
    }

    footer p {
        font-size: 12px;
        font-style: bold
    }
}


@media screen and (max-width: 320px) and (max-height: 568px) {
    html {
        height: 130%;
        background-size: 250vh;
    }
}

@media screen and (min-width: 321px) and (max-width: 423px) {
    html {
        height: 140%;
        background-size: 300vh;
    }

    footer {
        /* position: absolute; */
        /* top: 45rem; */
        /* left: -5px; */
    }
}